[Dd]ebug/
LocalOnly/
EcuHackTests/Release/

EcuHackTests/DefaultSession.BKS
EcuHackTests/EcuHackTests.BKP
EcuHackTests/SimSessionSH-2E.BKS
EcuHacks2/DefaultSession.BKS
EcuHacks2/EcuHacks2.BKP
EcuHacks2/EcuHacks2.nav
EcuHacks2/EcuHacks2.tps
EcuHacks2/DefaultSession.hsf

HEW.ARF
HEW.BKW
HEW.tws

EcuHacks2/TestRom
*.cmd